header {
	background: url("flywheel.png");
	text-align: center;
	font-style: #7fffc8;
	background-color: #000000;
	padding: 10px;
	margin: 10px;
}


body {
	padding: 5px;
	margin: 6px;
}




h2 {
	color: #1352ff;
	font-size: 38px;
}


section {
	color: #040801;
	border-radius: 0px;
	margin: 2px;
	padding: 10px 12px;
	display: inline-block;
	
}

a {
	color: #040801;
	border-radius: 6px;
	margin: 20px;
	padding: 10px 2px;
	text-decoration:blink;
	border: 2px solid white;

}



div {
	margin: 5px;
	padding: 5px;
	border-width: 6px;
	height: 3px;
	display: none;

	
	
}


a:hover, a:active {
	color: #861111;
	border-radius: 6px; 
	margin: 10px;
	padding: 10px; 
    background-color: yellow;
}















